{{#if exito_msg}}
    <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
        {{exito_msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}} 