{{#each error_orden}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/each}} 


<div class="card mx-auto col-7 m-3">
    <div class="card-header titulos">
        Crear nueva orden de trabajo (Nuevo Cliente)
    </div>
    <div class="card-body">

        <form action="" method="post" id="form_crear_orden">

            <div class="mb-3">
                <label for="nombrecompleto" class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control" name="nombrecompleto" id="nombrecompleto" pattern="[A-Za-záéíóúÁÉÍÓÚÑñ ]{4,}" maxlength="50" required>
                <div class="feedback-invalid"></div>
            </div>

            <div class="mb-3">
                <label for="dni" class="form-label">DNI</label>
                <input type="number" name="dni" class="form-control" id="dni" max="99999999" min="111111" pattern="" required>
                <div class="feedback-invalid"></div>
            </div>

        <div class="row g-3">
            <div class="mb-3 col">
                <label for="direccionv" class="form-label">Domicilio</label>
                <input type="text" name="direccion" class="form-control" id="direccion" pattern="[A-Za-záéíóúÁÉÍÓÚÑñ/-.0-9 ]{4,}" required>
                <div class="feedback-invalid"></div>
            </div>

            <div class="mb-3 col" >
                <label for="localidad" class="form-label">Localidad</label>
                <input type="text" name="localidad" class="form-control" id="localidad" pattern="[A-Za-záéíóúÁÉÍÓÚÑñ/-.0-9 ]{4,}" required>
                <div class="feedback-invalid"></div>
            </div>
        </div>
            

            <div class="mb-3">
                <label class="form-label" for="celular">Numero de Celular</label>
                <input type="number" name="celular" class="form-control" id="celular" pattern="[0-9]{7,13}" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" required>
            </div>
            <div class="row g-3">
                <div class="mb-3 col">
                    <label class="form-label" for="tipo_equipo">Elija el Tipo de Equipo</label>
                    <select name="tipo_equipo" id="tipo_equipo" class="form-select" required>
                        <option value="" selected disabled></option>
                        {{#each respuesta}}
                            <option value="{{id_tipo}}">{{tipo_equipo}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="mb-3 col">
                    <label class="form-label" for="pago">Seña (opcional)</label>
                    <input type="number" name="pago" class="form-control" id="pago" pattern="[0-9]+"  min="0" max="999999" required value="0">
                </div>
            </div>
            <div class="mb-3">
                <textarea class="form-control" name="descripcion_falla" id="" cols="80" rows="10" placeholder="Descripcion de la falla" required></textarea>
            </div>
            <div class="mb-3">
                <textarea class="form-control" name="datos_importantes" id="" cols="80" rows="10" placeholder="Datos del aparato"></textarea>
            </div>

            <div class="row g-3">
                <div class="mb-3 col">
                    <button type="submit" class=" btn btn-primary">Crear Orden</button>
                </div>
                {{#if userLogged.gerente}}
                    <div class="mb-3 col" >
                        <a class="btn btn-secondary" href="/gerente">Cancelar</a>
                    </div>
                {{/if}}

                {{#if userLogged.recepcionista}}
                    <div class="mb-3 col" >
                        <a class="btn btn-secondary" href="/recepcionista">Cancelar</a>
                    </div>
                {{/if}}
            </div>
        </form>
    </div>
</div>
