
<div class="card mx-auto col-7 m-3">
    <div class="card-header titulos">
        Crear nueva orden de trabajo
    </div>
    <div class="card-body">

        <form action="" method="post" id="form_crear_orden">

            <div class="mb-3">
                <label for="nombreyapellido" class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control" name="nombreyapellido" id="nombreyapellido">
                <div class="feedback-invalid"></div>
            </div>

            <div class="mb-3">
                <label for="DNI" class="form-label">DNI</label>
                <input type="number" name="DNI" class="form-control" id="DNI">
            </div>

            <div class="mb-3">
                <label for="localidad" class="form-label">Domicilio</label>
                <input type="text" name="localidad" class="form-control" id="localidad">
            </div>

            <div class="mb-3">
                <label for="localidad" class="form-label">Localidad</label>
                <input type="text" name="localidad" class="form-control" id="localidad">
            </div>

            <div class="mb-3">
                <label class="form-label" for="numerocelular">Numero de Celular</label>
                <input type="text" name="numerocelular" class="form-control" id="numerocelular">
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email">
            </div>

            <div class="mb-3">
                <label class="form-label" for="marca">Marca</label>
                <input type="text" name="marca" class="form-control" id="marca">
            </div>

            <div class="mb-3">
                <label class="form-label" for="modelo">modelo</label>
                <input type="text" name="modelo" class="form-control" id="modelo">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" name="seña" class="form-check-input" id="seña">
                <label class="form-check-label" for="seña">¿Seña?</label>
            </div>
            

            <textarea class="form-control" name="" id="" cols="80" rows="10" placeholder="Descripcion de la falla"></textarea><br>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

    </div>
</div>
