{{#if datos_enviar}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{text}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}

<div class="card mx-auto col-7 m-3">
    <div class="card-header titulos">
        Crear nuevo Usuario
    </div>
    <div class="card-body">

        <form action="" method="post" id="form_crear_usuario">

            <div class="mb-3">
                <label for="nombreyapellido" class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control" name="nombreyapellido" id="nombreyapellido" pattern="[A-Za-záéíóúÁÉÍÓÚñÑ0-9]{4,}( [A-Za-záéíóúÁÉÍÓÚÑñ0-9]{4,}){1,}" required >
                <div class="feedback-invalid"></div>
            </div>

            <div class="row g-3">
                <div class="col mb-3">
                    <label for="DNI" class="form-label">DNI</label>
                    <input type="number" name="DNI" class="form-control" id="DNI" required min="111111" max="999999999">
                </div>

                <div class="col mb-3">
                    <label for="puesto" class="form-label">PUESTO</label>
                    <select class="form-select" name="puesto" id="puesto">
                        <option value="" selected disabled></option>
                        <option value="ADMIN">ADMIN</option>
                        <option value="RECEPCIONISTA">RECEPCIONISTA</option>
                        <option value="TECNICO">TECNICO</option>
                        <option value="GERENTE">GERENTE</option>
                        <option value="ADMINISTRADOR_DE_DEPOSITO">ADMINISTRADOR DE DEPOSITO</option>
                    </select>
                    <div class="feedback-invalid"></div>
                </div>
            </div>
             
             <div class="row g-3">
                <div class="mb-3 col">
                    <label for="fecha_ingreso" class="form-label">FECHA DE INGRESO</label>
                    <input type="date" name="fecha_ingreso" class="form-control" id="fecha_ingreso" required>
                    <div class="feedback-invalid"></div>
                </div>

                <div class="mb-3 col">
                    <label class="form-label" for="numerocelular">Numero de Celular</label>
                    <input type="number" name="numerocelular" class="form-control" id="numerocelular" min="11111111" max="999999999999" required>
                    <div class="feedback-invalid"></div>
                </div>
             </div>

             <div class="row g-3">
                <div class="mb-3 col">
                    <label for="direccion" class="form-label">Direccion</label>
                    <input type="text" name="direccion" class="form-control" id="direccion" required maxlength="50" pattern="[A-Za-z áéíóúÁÉÍÓÚñÑ0-9]{4,}">
                    <div class="feedback-invalid"></div>
                </div>

                <div class="mb-3 col">
                    <label class="form-label" for="localidad">Localidad</label>
                    <input type="text" name="localidad" class="form-control" id="localidad" required maxlength="50" pattern="[A-Za-z áéíóúÁÉÍÓÚñÑ0-9]{4,}">
                    <div class="feedback-invalid"></div>
                </div>
             </div>

            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <div class="feedback-invalid"></div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="email">Contraseña</label>
                <input type="password" class="form-control" name="pass" id="pass" minlength="3" maxlength="20">
                <div class="feedback-invalid"></div>
            </div>

            <button type="submit" class="btn btn-primary">Agregar Usuario</button>

        </form>

    </div>
</div>

<script src="../../crear_usuario.js"></script>