<div class="row">
  <div class="card col-4 m-3">
    <div>
      <canvas id="myChart1" height="200" width="200"></canvas>
    </div>
  </div>

  <div class="card col-4 m-3">
    <div>
      <canvas id="myChart2" height="200" width="200"></canvas>
    </div>
  </div>
</div>

<div class="row ">
    <div class="card  col-4 m-3">
    <div>
      <canvas id="myChart3" height="200" width="200"></canvas>
    </div>
  </div>
  <div class="card col-4 m-3">
    <div>
      <canvas id="myChart4" height="200" width="200"></canvas>
    </div>
  </div>
</div>

<script src="../../graficos.js"></script>   
