<div class="container bg-light mt-4">
    <h3 class="titulos" >Tus ordenes de trabajo</h3><br>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Dni</th>
      <th scope="col">Nombre y Apellido</th>
      <th scope="col">ID equipo</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td >1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
    </tr>
    <tr>
        <td >2</td>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
    </tr>
    <tr>
        <td>3</td>
        <td>3</td>
        <td>3</td>
        <td>sd</td>
        <td>sdf</td>
    </tr>
  </tbody>
</table>
</div>

