<div class="card mx-auto col-8 m-3">
    <div class="card-header titulos">
        Lista de todos los usuarios
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>NOMBRE</th>  
                    <th>MARCA</th>
                    <th>MODELO</th>
                    <th>PRECIO</th>
                    <th>DISTRIBUIDOR</th>
                    <th>DESCRIPCION</th>
                    <th>MODIFICAR</th>    
                </tr>
            </thead>
            <tbody id="tbody_ordenes_trabajo">
                <tr>
                    <td >3</td>
                    <td >3</td>
                    <td >3</td>
                    <td >1</td>
                    <td >1</td>
                    <td >1</td>
                    <td> <a href="">Modificar</a> </td>     <!-- BOTON MODIFICAR REPUESTO-->

                </tr>
                <tr>
                    <td >3</td>
                    <td >3</td>
                    <td >1</td>
                    <td >1</td>
                    <td >1</td>
                    <td >3</td>
                    <td> <a href="">Modificar</a> </td>     <!-- BOTON MODIFICAR REPUESTO-->

                </tr>
                <tr>
                    <td >3</td>
                    <td >3</td>
                    <td >1</td>
                    <td >1</td>
                    <td >1</td>
                    <td >3</td>
                    <td> <a href="">Modificar</a> </td>     <!-- BOTON MODIFICAR REPUESTO-->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modificar Repuesto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <form action="" method="post">

            <!--formulario modificar usuario-->
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guarfar Cambios</button>
      </div>
    </div>
  </div>
</div>