<div class="card mx-auto col-8 m-3">
    <div class="card-header titulos">
        Lista de todos los usuarios
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>DNI</th>  
                    <th>NOMBRE COMPLETO</th>
                    <th>ESTADO</th>
                    <th>PUESTO</th>
                    <th>Modificar</th>    
                </tr>
            </thead>
            <tbody id="tbody_ordenes_trabajo">
                <tr>
                    <td >3</td>
                    <td >3</td>
                    <td >3</td>
                    <td >1</td>
                    <td> <a href="">Modificar</a> </td>     <!-- BOTON MODIFICAR ORDEN-->

                </tr>
                <tr>
                    <td >3</td>
                    <td >3</td>
                    <td >3</td>
                    <td >1</td>
                    <td> <a href="">Modificar</a> </td>     <!-- BOTON MODIFICAR ORDEN-->

                </tr>
                <tr>
                    <td >3</td>
                    <td >3</td>
                    <td >3</td>
                    <td >1</td>
                    <td> <a href="">Modificar</a> </td>     <!-- BOTON MODIFICAR ORDEN-->
                </tr>
            </tbody>
        </table>
    </div>
</div>
