<div class="card col-4 p-2 mx-auto m-3">

  <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Ingrese el ID" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>
</div>

<div class="card mx-auto col-7 m-3">

    <div class="card-header titulos">
        Mis ordenes de trabajo sin Completar
    </div>
    <div class="card-body">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>  
          <th >Marca</th>
          <th>Modelo</th>
          <th>fecha de ingreso</th>
          <th>estado</th>
          <th>Repuestos usados</th>
          <th>Modificar</th>    
        </tr>
      </thead>
      <tbody id="tbody_ordenes_trabajo">
        <tr>
            <td >3</td>
            <td >3</td>
            <td >3</td>
            <td >1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td> <a href="">Modificar</a> </td>     <!-- BOTON MODIFICAR ORDEN-->

        </tr>
        <tr>
            <td >3</td>
            <td >3</td>
            <td >3</td>
            <td >1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td> <a href="">Modificar</a> </td>     <!-- BOTON MODIFICAR ORDEN-->

        </tr>
        <tr>
            <td >3</td>
            <td >3</td>
            <td >3</td>
            <td >1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td> <a href="">Modificar</a> </td>     <!-- BOTON MODIFICAR ORDEN-->

        </tr>
      </tbody>
    </table>

    </div>
</div>
