<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>  
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">fecha de ingreso</th>
      <th scope="col">estado</th>
      <th scope="col">Tecnico Asignado</th>
      <th scope="col">Datos del cliente</th>
      <th scope="col"></th>    <!-- cargar = tomar orden / asignar tecnico-->
    </tr>
  </thead>
  <tbody id="tbody_ordenes_trabajo">
    <tr>
        <td >3</td>
        <td >3</td>
        <td >3</td>
        <td >1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>     <!-- BOTON DATOS DEL CLIENTE-->
        <td>@mdo</td>     <!-- BOTON ASIGNAR/TOMAR-->
    </tr>
    <tr>
        <td >3</td>
        <td >3</td>
        <td >3</td>
        <td >1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>     <!-- BOTON DATOS DEL CLIENTE-->
        <td>@mdo</td>     <!-- BOTON ASIGNAR/TOMAR-->
    </tr>
    <tr>
        <td >3</td>
        <td >3</td>
        <td >3</td>
        <td >1</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>     <!-- BOTON DATOS DEL CLIENTE-->
        <td>@mdo</td>     <!-- BOTON ASIGNAR/TOMAR-->
    </tr>
  </tbody>
</table>