<div class="container rounded bg-light mt-4">
    <div class=" mt-3">
        <h3 class="mx-auto titulos" >Aceptar/Rechazar Pedido</h3>
    </div>
    <form action="/pedido/mod" method="post">
        <div class="row mt-4">
            
            <div class="col mb-4">
                <input id="id_repuesto"  type="hidden" name="repuesto" {{#if x}}value="{{x.id}}"{{/if}}>

                <label for="repuesto_disable" class="form-label">Nombre</label>
                <input type="text" class="form-control" {{#if x}}value="{{x.nombre}}"{{/if}} disabled>
            </div>
            <div class="col mb-4">
                <label for="repuesto_disable" class="form-label">Modelo</label>
                <input type="text" class="form-control" {{#if x}}value="{{x.modelo}}"{{/if}} disabled>
            </div>

        </div>
        <div class="mb-4">
            <label for="repuesto_disable" class="form-label">Cantidad</label>
            <input type="number" class="form-control" {{#if x}}value="{{x.cantidad}}"{{/if}} disabled>
        </div>

        <div class="mb-4">
            <select class="form-select" name="estado">
                <option value="" selected disabled></option>
                <option value="rechazado">Recazado</option>
                <option value="aceptado">Aceptado</option>
            </select>
        </div>
        <div class="row mt-4">
            <div class="col-6 mb-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            <div class="col-6 mb-3">
                <a class="btn btn-danger" href="/pedido/lista">Cancelar</a>
            </div>
        </div>
    </form>
</div>