<div class="container ">
        <div class="d-flex justify-content-center aling-item-center ">
            <div class="card login">
                <div class="card-body ">
                    <form action="">
                        <div class="mb-3">
                            <label for="usuario" class="form-label text-black" >Usuario</label>
                            <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="contraseña" class="form-label text-black">Contraseña</label>
                            <input type="password" class="form-control" id="contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>  
</div>