<div class="container">
        <div class="d-flex justify-content-center aling-item-center ">
            <div class="card login">
                <div class="card-header titulos" >
                    BIENVENIDO A CORTOCIRCUITO
                </div>
                <div class="card-body ">
                    <form method="post" action="/sigin" id="form_login">
                        <div class="mb-3">
                            <label for="usuario" class="form-label text-black" >Usuario</label>
                            <input type="text" name="usuario" class="form-control" id="usuario" required pattern="[a-zA-ZÁÉÍÓÚáéíóú0-9]{3,20}">
                            <div class="feedback-invalid">Usuario incorrecto</div>
                        </div>
                        <div class="mb-3">
                            <label for="contraseña" class="form-label text-black">Contraseña</label>
                            <input type="password" name="contraseña" class="form-control" id="contraseña" pattern="[0-9a-zA-ZÁÉÍÓÚáéíóú]{3,20}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>  
</div>

<script src="../../login.js"></script>